<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="default.htm" />
                <add value="Default.asp" />
                <add value="Default.aspx" />
                <add value="home.html" />
                <add value="home.htm" />
                <add value="index.htm" />
                <add value="index.wml" />
                <add value="index.xhtml" />
                <add value="index.xht" />
                <add value="default.wml" />
                <add value="default.xhtml" />
                <add value="default.xht" />
                <add value="home.wml" />
                <add value="home.xhtml" />
                <add value="home.xht" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    </system.webServer>
</configuration>
